# __pycache__
.DS_Store
**/.DS_Store
**/._DAV
.ipynb_checkpoints
**/.ipynb_checkpoints
**/.state*
**/*.eeg
**/*.vhdr
**/*.vmrk
**/*.cnt
**/*.evt
**/*.sen
**/*.trg
**/*.fif
**/*.fdt
**/*.set
**/*.nii
**/*.nii.gz
